.connexionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(30, 56, 133) ;
}
.connexionTitle {
    margin-top: 10%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10%;
    padding-top: 5%;
    width: 80%;
}
.inputContainer label {
    position:absolute;
	top:15%;
	left:6%;
	transition: all 0.5s ease-in-out;
    padding-block: 3%;
}
.labelObligatoire {
    color: rgb(217, 24, 24)
}
.labelText {
    margin-left: 4%;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
}
.submitButton {
    width: 90%;
    padding-block: 4%;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(30, 56, 133, 0.7);
    font-size: 1.2vmax;
    color: rgb(255, 255, 255, 0.9);
}

.inputContainer {
    padding-block: 2%;
    margin-bottom: 5%;
    position: relative;
    width: 90%;
}
.inputContainer input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid rgb(23, 141, 180);	
   }
.inputContainer.focused label {
    top: -30%;
    left: -3%;
  }
.inputContainer input {
    font-size: 1.1vmax;
    color: rgb(30, 56, 133);
    padding: 2%;
    width: 95%;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 2%;
    padding-block: 3%;
}
.containerPasswordInput {
    display: flex;
    flex-direction: row;
    position: relative;
}
.passwordEyeImage {
    width: 8%;
    height: auto;   
    position: absolute;
    right: 2%;
    bottom: 15%;
    padding: 1%;
}
.createAccountContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.createAccountContainer p{
    margin-bottom: 0%;
}
.createAccountButton {
    text-decoration: none;
    font-weight: 700;
    color: rgb(30, 56, 133);
    text-align: right;
}

