.backgroundImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/background_image.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.globalContainer {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerHeader {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
  }

.webContainer {
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  padding-block: 1%;
  border-radius: 15px;
  height: 75%;
  max-width: 100%;
  justify-content: flex-start;
  margin-top: auto;
  margin: auto;
  color: rgb(30, 56, 133) ;
  margin-top: 3%;
}

.webContainerConnexion {
  width: 28%;
  padding-left: 3%;
  padding-right: 3%;
  padding-block: 1%;
  border-radius: 8px;
  height: 60%;
  max-width: 100%;
  justify-content: flex-start;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 6%;
}

@media (max-width: 768px) {
  .webContainer {
    /* Styles spécifiques à la version mobile */
    width: 90%;
    padding: 0%;
    padding-inline: 5%;
    padding-top: 2%;
    border-radius: 0;
    height: auto;
    justify-content: center;
    margin-top: 0;
    flex: 1;
  }
  .webContainerConnexion {
    width: 90%;
    padding-inline: 5%;
    border-radius: 0;
    height: auto;
    justify-content: center;
    margin-top: 0;
    margin: auto;
  }
}